*{
	padding: 10px;
}
.iconos{
	font-size: 40px;
}
.color-linkedin{
	color: #007bb5;
}
.color-facebook{
	color: #3b5998;
}
.color-github{
	color: #000000;
}
.color-skype{
	color: #00aff0;
}
.color-telephone{
	color: #000000;
}
.color-email{
	color: #999999;
}